<% include ./partials/header %>

<div class="col-md-6">
    <div class="img">
        <div id="landing-header">
     	    <h1>Szukasz najlepszego przyjaciela?</h1>
    	    <a href="/adopcja" class="btn btn-lg btn-success">Adoptuj zwierzaka</a>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="img">
        <div id="landing-header">
     	    <h1>Pupil się zgubił?</h1>
    	    <a href="/ogloszenia" class="btn btn-lg btn-success">Zamieść ogłoszenie</a>
        </div>
    </div>
</div>